[Unit]
Description=Strava Simple MCP server
After=network.target

[Service]
WorkingDirectory=/opt/strava-simple-mcp
EnvironmentFile=/opt/strava-simple-mcp/.env
ExecStart=/opt/strava-simple-mcp/.venv/bin/python src/server.py
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target
